.Select {
  &__select {
    position: relative;
  }

  &__buttons {
    button {
      border-radius: 50px;
      margin-right: 10px;
      margin-bottom: 10px;
      min-height: 40px;
      padding: 5px 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
