.Navbar {
  display: flex;
  margin-left: auto;

  &__link {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $warning;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__activeLink {
    cursor: default;
    pointer-events: none;
    text-decoration: underline;
    &:hover,
    &:focus {
      color: white;
    }
    &::selection {
      background-color: transparent;
    }
  }
}
