.ReactRange {
  &.isError {
    & > h3 {
      color: $danger;
    }
  }

  &.isSuccess {
    & > h3 {
      color: $success;
    }
  }

  &.isDisabled {
    & > h3 {
      color: $text-color-secondary;
    }
  }

  &__label {
    display: inline-flex;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 600;
  }

  &__container {
    min-height: 80px;
  }

  &__error {
    display: inline-flex;
    color: $danger;
    font-size: 14px;
    line-height: 22px;
    padding-top: 20px;
    margin-left: -5px;
  }
}
