.ButtonStatus {
  border: none;
  outline: none;

  &.primary {
    @include status-bg-color($primary, true);
  }

  &.secondary {
    @include status-bg-color($secondary, true);
  }

  &.success {
    @include status-bg-color($success, true);
  }

  &.warning {
    @include status-bg-color($warning, true);
  }

  &.danger {
    @include status-bg-color($danger, true);
  }

  &.disavled,
  &[disabled] {
    cursor: default;
    pointer-events: none;
    color: $text-color-secondary;
    filter: grayscale(0.33);
  }
}
