.SelectDropdown {
  position: absolute;
  z-index: 2000;
  top: 50px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition-property: all $default-duration;
  border: 2px solid $text-color-secondary;
  border-radius: 0 0 8px 8px;
  border-top: none;
  max-height: 220px;
  overflow-y: auto;
  box-shadow: 0 0 3px 0 $text-color;
  @include customScrollBar(rgba(0, 0, 0, 0.2));

  &:hover {
    border-color: $primary;
  }

  &__option {
    padding: 10px 24px;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    &.isSelected {
      background-color: $primary-light;
      color: white;
    }
    &::selection {
      background-color: transparent;
    }
    &:hover:not(.isSelected) {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
