.Input {
  min-height: 100px;
  margin-bottom: 15px;
  @include mobile {
    min-height: auto;
    margin-bottom: 25px;
  }

  // error validation
  &.isError {
    label {
      color: $danger;
    }

    input,
    textarea {
      border: 2px solid $danger;
      &:hover {
        border: 2px solid $danger;
      }
      &:focus {
        border: 2px solid $primary;
      }
    }
  }

  // success validation
  &.isSuccess {
    label {
      color: $success;
    }

    input,
    textarea {
      border: 2px solid $success;
      &:hover {
        border: 2px solid $success;
      }
      &:focus {
        border: 2px solid $primary;
      }
    }
  }

  &.isDisabled {
    input,
    textarea {
      cursor: default;
      pointer-events: none;
      background-color: rgba(0, 0, 0, 0.05);
      border-color: $text-color-secondary;
    }

    label {
      color: $text-color-secondary;
    }
  }

  &__label {
    display: inline-flex;
    font-size: 18px;
    margin-left: 25px;
    margin-bottom: 5px;
    font-weight: 600;
  }

  &__input {
    outline: none;
    box-shadow: none;
    background: white;
    width: 100%;
    padding: 12px 24px;
    height: 52px;
    border-radius: 8px;
    border: 2px solid $text-color-secondary;
    font-weight: 400;
    color: $text-color;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    transition: all $default-duration;
    @include mobile {
      padding: 10px 24px;
      height: 46px;
    }
    &::placeholder {
      color: $text-color-secondary;
      opacity: 1;
    }
    &:hover {
      border: 2px solid $text-color;
    }
    &:focus {
      border: 2px solid $primary;
    }
  }

  &__textarea {
    resize: none;
    min-height: 148px;
  }

  &__error {
    color: $danger;
    font-size: 14px;
    line-height: 22px;
    padding-left: 15px;
    &::before {
      color: $danger;
      content: '* ';
    }
  }

  &__password {
    position: relative;
  }

  &__passEye {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__number {
    display: flex;

    i {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 52px;
      font-size: 20px;
      line-height: 26px;
      font-weight: 400;
      cursor: pointer;
      flex-shrink: 0;
      border: 2px solid $text-color-secondary;
      font-style: normal;
      background-color: white;
      transition: all $default-duration;
      @include mobile {
        width: 46px;
      }
      &::selection {
        background-color: transparent;
      }
      &:hover {
        background-color: $primary;
        color: white;
        border-color: $primary;
      }

      &.minus {
        border-right: none;
        border-radius: 8px 0 0 8px;
      }
      &.plus {
        border-left: none;
        border-radius: 0 8px 8px 0;
      }
    }

    input {
      outline: none;
      box-shadow: none;
      background-color: white;
      width: 100%;
      padding: 12px 24px;
      border: 2px solid $text-color-secondary;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: $text-color;
      @include mobile {
        padding: 10px 24px;
        height: 46px;
      }
      &::placeholder {
        color: $text-color-secondary;
        opacity: 1;
      }
    }
  }
}
