.Footer {
  flex-shrink: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $success;
  color: white;
  @include laptop {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  // .container
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include laptop {
      position: relative;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__copyright {
    color: inherit;
    @include laptop {
      position: absolute;
      right: 20px;
      bottom: 0;
      height: 28px;
      display: inline-flex;
      align-items: center;
    }
    @include mobile {
      right: 15px;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    @include laptop {
      margin-bottom: 30px;
    }
    & > span {
      display: inline-flex;
      color: $text-color;
      margin-right: 10px;
    }
    & > ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-right: 10px;
        margin-bottom: 0;
        &:last-child {
          margin-right: 0;
        }

        a {
          color: white;
          text-decoration: none;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  &__sharingList {
    display: flex;
    list-style: none;
    padding-left: 0;

    & > li {
      margin-right: 5px;
    }
  }
}
