.Footer {
  flex-shrink: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: darkgray;
  color: white;
  @include mobile {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  // .container
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__copyright {
    color: inherit;
  }

  &__socials {
    display: flex;
    list-style: none;
    @include mobile {
      padding-left: 0;
      margin-bottom: 0;
    }

    li {
      margin-right: 10px;
      margin-bottom: 0;
      &:last-child { margin-right: 0; }

      a {
        color: white;
        text-decoration: none;

        &:hover { color: $primary; }
      }
    }
  }
}
