.FormExample {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  padding: 20px;
  border-radius: 20px;

  &__left {
    flex-basis: 50%;

    p {
      padding-left: 150px;
    }

    label {
      min-width: 150px;
    }
  }

  &__right {
    flex-basis: 50%;

    p {
      padding-left: 80px;
    }

    label {
      min-width: 80px;
    }
  }

  &__bottom {
    flex-grow: 1;
    margin-top: 15px;
  }

  &__buttons {
    & > button {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  // input, select group
  &__formGroupInput {
    min-height: 40px;
    margin-bottom: 10px;
    padding-bottom: 0;

    &.isError {
      & > label {
        text-decoration: underline;
        text-decoration-color: $danger;
      }

      & > input {
        color: $danger;
      }
    }

    & > label {
      display: inline-flex;
    }

    & > input,
    & > select {
      min-width: 230px;
      outline: none;
      box-shadow: none;
      border-style: solid;
      border-width: 1px;
      border-color: $text-color;
    }

    & > p {
      font-size: 12px;
      color: $danger;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  // radio group
  &__formGroupRadio {
    margin-bottom: 30px;

    .radioList {
      display: flex;

      & > div {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    & > p {
      font-size: 12px;
      color: $danger;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  // checkbox group
  &__formGroupCheckbox {
    min-height: 40px;

    &.isError {
      & > label {
        text-decoration: underline;
        text-decoration-color: $danger;
      }
    }

    & > p {
      font-size: 12px;
      color: $danger;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 18px;
    }
  }
}
