.ToDoList {
  & > h2:first-child {
    color: $primary;
    @include outline;
    background-color: antiquewhite;

    // animation
    animation-name: shake;
    animation-duration: 0.82s;
    animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
    animation-fill-mode: both;
  }
}
