// Inter-400
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Inter Regular'), local('Inter-Regular'), local('Inter_Regular'),
    url('/fonts/Inter/400/Inter-400.woff2') format('woff2'),
    url('/fonts/Inter/400/Inter-400.woff') format('woff'),
    url('/fonts/Inter/400/Inter-400.ttf') format('truetype');
}

// Inter-500
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Inter Medium'), local('Inter-Medium'), local('Inter_Medium'),
    url('/fonts/Inter/500/Inter-500.woff2') format('woff2'),
    url('/fonts/Inter/500/Inter-500.woff') format('woff'),
    url('/fonts/Inter/500/Inter-500.ttf') format('truetype');
}

// Inter-700
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Inter Bold'), local('Inter-Bold'), local('Inter_Bold'),
    url('/fonts/Inter/700/Inter-700.woff2') format('woff2'),
    url('/fonts/Inter/700/Inter-700.woff') format('woff'),
    url('/fonts/Inter/700/Inter-700.ttf') format('truetype');
}

// Inter-800
@font-face {
  font-family: 'Inter';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local('Inter ExtraBold'), local('Inter-ExtraBold'),
    local('Inter_ExtraBold'), local('Inter Extra Bold'),
    local('Inter-Extra-Bold'), local('Inter_Extra_Bold'),
    url('/fonts/Inter/800/Inter-800.woff2') format('woff2'),
    url('/fonts/Inter/800/Inter-800.woff') format('woff'),
    url('/fonts/Inter/800/Inter-800.ttf') format('truetype');
}

// Maven-Pro-400
@font-face {
  font-family: 'Maven Pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Maven Pro Regular'), local('Maven-Pro-Regular'),
    local('Maven_Pro_Regular'),
    url('/fonts/Maven-Pro/400/Maven-Pro-400.woff2') format('woff2'),
    url('/fonts/Maven-Pro/400/Maven-Pro-400.woff') format('woff'),
    url('/fonts/Maven-Pro/400/Maven-Pro-400.ttf') format('truetype');
}

// Maven-Pro-500
@font-face {
  font-family: 'Maven Pro';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Maven Pro Medium'), local('Maven-Pro-Medium'),
    local('Maven_Pro_Medium'),
    url('/fonts/Maven-Pro/500/Maven-Pro-500.woff2') format('woff2'),
    url('/fonts/Maven-Pro/500/Maven-Pro-500.woff') format('woff'),
    url('/fonts/Maven-Pro/500/Maven-Pro-500.ttf') format('truetype');
}

// Maven-Pro-700
@font-face {
  font-family: 'Maven Pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Maven Pro Bold'), local('Maven-Pro-Bold'), local('Maven_Pro_Bold'),
    url('/fonts/Maven-Pro/700/Maven-Pro-700.woff2') format('woff2'),
    url('/fonts/Maven-Pro/700/Maven-Pro-700.woff') format('woff'),
    url('/fonts/Maven-Pro/700/Maven-Pro-700.ttf') format('truetype');
}

// Maven-Pro-800
@font-face {
  font-family: 'Maven Pro';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local('Maven Pro ExtraBold'), local('Maven-Pro-ExtraBold'),
    local('Maven_Pro_ExtraBold'), local('Maven Pro Extra Bold'),
    local('Maven-Pro-Extra-Bold'), local('Maven_Pro_Extra_Bold'),
    url('/fonts/Maven-Pro/800/Maven-Pro-800.woff2') format('woff2'),
    url('/fonts/Maven-Pro/800/Maven-Pro-800.woff') format('woff'),
    url('/fonts/Maven-Pro/800/Maven-Pro-800.ttf') format('truetype');
}

// Raleway-400
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Raleway Regular'), local('Raleway-Regular'),
    local('Raleway_Regular'),
    url('/fonts/Raleway/400/Raleway-400.woff2') format('woff2'),
    url('/fonts/Raleway/400/Raleway-400.woff') format('woff'),
    url('/fonts/Raleway/400/Raleway-400.ttf') format('truetype');
}

// Raleway-700
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Raleway Bold'), local('Raleway-Bold'), local('Raleway_Bold'),
    url('/fonts/Raleway/700/Raleway-700.woff2') format('woff2'),
    url('/fonts/Raleway/700/Raleway-700.woff') format('woff'),
    url('/fonts/Raleway/700/Raleway-700.ttf') format('truetype');
}

// Raleway-800
@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local('Raleway Extra Bold'), local('Raleway-Extra-Bold'),
    local('Raleway_Extra_Bold'), local('Raleway ExtraBold'),
    local('Raleway-ExtraBold'), local('Raleway_ExtraBold'),
    url('/fonts/Raleway/800/Raleway-800.woff2') format('woff2'),
    url('/fonts/Raleway/800/Raleway-800.woff') format('woff'),
    url('/fonts/Raleway/800/Raleway-800.ttf') format('truetype');
}
