.FormSelects {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid;
  padding: 20px;
  border-radius: 20px;

  &__contryCheckboxSelect {
    li {
      min-width: 150px;
    }
  }

  &__contryCheckboxMultiselect {
    li {
      min-width: 150px;
    }
  }

  &__item {
    margin-bottom: 25px;

    h3 {
      padding-left: 25px;
    }
  }

  &__switchs {
    display: flex;
    padding-left: 25px;
    flex-wrap: wrap;

    & > div {
      min-height: auto;
      min-width: 150px;
      margin-right: 20px;
      flex-shrink: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__selectButtons {
    & > button {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__buttons {
    margin-top: 30px;
    & > button {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
