.ReduxClassic3 {
  ul {
    margin: 0;
  }

  section {
    & > div {
      padding-right: 15px;
      margin-right: 15px;
      border-right: 1px solid #ccc;
    }
  }

  &__pagination {
    margin-top: 20px;

    span {
      padding: 10px;
      border: 1px solid #ccc;
      cursor: pointer;
      &.isActive {
        pointer-events: none;
        cursor: pointer;
        font-weight: bold;
        border: 1px solid black;
      }
    }
  }
}
