.FormCustom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid;
  padding: 20px;
  border-radius: 20px;
  @include mobile {
    flex-direction: column;
  }

  &__left {
    max-width: 48%;
    flex-basis: 48%;
    flex-grow: 0;

    @include mobile {
      max-width: none;
      flex-basis: auto;
    }

    p {
      padding-left: 150px;
    }

    label {
      min-width: 150px;
    }
  }

  &__right {
    max-width: 48%;
    flex-basis: 48%;
    flex-grow: 0;

    @include mobile {
      max-width: none;
      flex-basis: auto;
    }

    p {
      padding-left: 100px;
    }

    label {
      min-width: 100px;
    }
  }

  &__bottom {
    flex-grow: 1;
    margin-top: 15px;
  }

  &__buttons {
    & > button {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
