.SelectWrapper {
  position: relative;
  z-index: 10;

  // error
  &.isError {
    label {
      color: $danger;
    }

    // select
    & > div {
      border-color: $danger;

      // dropdown
      & > div {
        border-color: $danger;
      }
    }
  }

  // success
  &.isSuccess {
    label {
      color: $success;
    }

    // select
    & > div {
      border-color: $success;

      // dropdown
      & > div {
        border-color: $success;
      }
    }
  }

  // disabled
  &.isDisabled {
    label {
      color: $text-color-secondary;
    }

    // select
    & > div {
      background-color: rgba(0, 0, 0, 0.05);
      border-color: $text-color-secondary;

      // icon
      & > svg {
        cursor: default;
      }
    }
  }
}
