.AlertError {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 10;
  top: 45px;
  left: 0;
  right: 0;
  color: white;
  animation-duration: 1s;

  & > div {
    flex-grow: 1;
  }

  // close icon
  & > i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 15px;
    svg {
      width: 70%;
      height: auto;
    }
  }
}
