.ReactEditor {
  width: 100%;

  &.isError {
    & > h3 {
      color: $danger;
    }
  }

  // success validation
  &.isSuccess {
    & > h3 {
      color: $success;
    }
  }

  &.isDisabled {
    & > h3 {
      color: $text-color-secondary;
    }
  }

  &__label {
    display: inline-flex;
    font-size: 18px;
    margin-left: 25px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 600;
  }

  &__editor {
    border-radius: 8px;
    border: 2px solid $text-color-secondary;
    font-family: $font-primary;
    font-weight: 400;
    color: $text-color;
  }

  &__error {
    color: $danger;
    font-size: 14px;
    line-height: 22px;
    padding-left: 15px;
    &::before {
      color: $danger;
      content: '* ';
    }
  }
}
