.SelectNative {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  &:focus {
    & + div > div:first-child {
      border: 2px solid $primary;
      box-shadow: 0 0 3px 0 $text-color;
    }
  }
}
