.Dropdown {
  position: absolute;
  top: 45px;
  left: -2px;
  right: -2px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition-property: all $default-duration;
  border: 2px solid $text-color-secondary;
  border-radius: 0 0 8px 8px;
  border-top: none;
  max-height: 220px;
  overflow-y: auto;
  &:hover {
    border-color: $primary;
  }

  &__option {
    padding: 10px 24px;
    font-size: 16px;
    line-height: 22px;
    &.isSelected {
      background-color: $primary;
      color: white;
    }
    &::selection {
      background-color: transparent;
    }
  }
}
