.File {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  margin-bottom: 15px;

  &.isError {
    label {
      color: $danger;
    }

    // customInput
    & > div {
      border-color: $danger;
    }
  }

  &.isSuccess {
    label {
      color: $success;
      pointer-events: none;
    }

    // customInput
    & > div {
      border-color: $success;
    }
  }

  &.isDisabled {
    cursor: default;
    pointer-events: none;

    label {
      color: $text-color-secondary;
    }

    // customInput
    & > div {
      background-color: rgba(0, 0, 0, 0.05);
      border-color: $text-color-secondary;
    }
  }

  &__label {
    display: inline-flex;
    font-size: 18px;
    margin-left: 25px;
    margin-bottom: 5px;
    font-weight: 600;
  }

  // native input
  input[type='file'] {
    // hide native input
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    &:focus {
      & + div {
        border: 2px solid $primary;
      }
    }
  }

  &__customInput {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 52px;
    padding: 12px 24px;
    padding-right: 50px;
    color: $text-color;
    border-radius: 8px;
    background-color: white;
    border: 2px solid $text-color-secondary;
    transition: all $default-duration;

    & > span {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      overflow-wrap: anywhere; // new css-prop
    }

    // icons
    & > i {
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -10px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      cursor: pointer;

      svg path {
        transition-duration: $default-duration;
      }

      // delete icon
      &.delete {
        svg path {
          transition-property: stroke;
        }
        &:hover {
          svg path {
            stroke: $text-color;
          }
        }
      }

      // clip icon
      &.clip {
        svg path {
          transition-property: fill;
        }
        &:hover {
          svg path {
            fill: $text-color;
          }
        }
      }
    }

    &:hover {
      border: 2px solid $primary;
    }
  }

  &__preview {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    flex-shrink: 0;
  }

  &__error {
    color: $danger;
    font-size: 14px;
    line-height: 22px;
    padding-left: 15px;
    &::before {
      color: $danger;
      content: '* ';
    }
  }
}
