.RadioGroup {
  min-height: 55px;
  margin-bottom: 15px;

  // error validation
  &.isError {
    color: inherit;
    label::before {
      border-color: $danger;
    }
  }

  // success validation
  &.isSuccess {
    input:checked + label {
      &::before {
        border-color: $success;
      }
      &::after {
        background-color: $success;
      }
    }
  }

  &.isDisabled {
    pointer-events: none;
    cursor: default;
    label {
      color: rgba(0, 0, 0, 0.3);
      &::before {
        border-color: $text-color-secondary;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  &__wrapper {
    display: inline-flex;
  }

  &__item {
    margin-right: 20px;
  }

  input {
    // hide native checkbox
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    // input checked
    &:checked + label::before {
      border-color: $primary;
    }

    &:checked + label::after {
      display: block;
    }

    // input focus
    &:focus + label::before {
      border-color: $primary;
      box-shadow: 0 0 3px 0 $text-color;
    }
  }

  label {
    display: inline-flex;
    align-items: center;
    min-height: 30px;
    position: relative;
    padding-left: 40px;
    color: $text-color;
    &:hover {
      cursor: pointer;
      &::before {
        border-color: $text-color;
      }
    }

    &::selection {
      background-color: transparent;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid $text-color-secondary;
      transition: all $default-duration;
    }

    &::after {
      display: none;
      content: '';
      position: absolute;
      top: 50%;
      left: 7px;
      margin-top: -8px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $primary;
      transition: all $default-duration;
    }
  }

  // validation error message
  &__error {
    color: $danger;
    font-size: 14px;
    line-height: 22px;
    margin-top: 3px;
    margin-bottom: 0;
    // padding-left: 15px;
    // &:empty {
    //   display: none;
    // }
    &::before {
      color: $danger;
      content: '* ';
    }
  }
}
