.FormNative {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  padding: 20px;
  border-radius: 20px;
  @include tablet {
    flex-direction: column;
  }

  &__left {
    flex-basis: 50%;

    @include tablet {
      flex-basis: auto;
    }

    p {
      padding-left: 150px;
    }

    label {
      min-width: 150px;
    }

    & > div {
      @include mobile {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        label {
          font-weight: 600;
          margin-bottom: 3px;
        }

        p {
          padding-left: 0;
        }
      }
    }
  }

  &__right {
    flex-basis: 50%;
    @include tablet {
      flex-basis: auto;
    }

    p {
      padding-left: 100px;
      @include tablet {
        padding-left: 150px;
      }
    }

    label {
      min-width: 100px;
      @include tablet {
        min-width: 150px;
      }
    }

    & > div {
      @include mobile {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        label {
          font-weight: 600;
          margin-bottom: 3px;
        }

        p {
          padding-left: 0;
        }
      }
    }
  }

  &__bottom {
    flex-grow: 1;
    margin-top: 15px;
  }

  &__buttons {
    & > button {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  // input, select group
  &__formGroupInput {
    min-height: 40px;
    margin-bottom: 10px;
    padding-bottom: 0;

    &.isError {
      & > label {
        text-decoration: underline;
        text-decoration-color: $danger;
      }

      & > input {
        color: $danger;
      }

      & > textarea {
        color: $danger;
      }
    }

    &.isSuccess {
      & > label {
        color: $success;
      }

      & > input {
        border-color: $success;
      }
    }

    & > label {
      display: inline-flex;
    }

    & > input,
    & > textarea,
    & > select {
      min-width: 230px;
      outline: none;
      box-shadow: none;
      border-style: solid;
      border-width: 1px;
      border-color: $text-color;
      resize: none;
    }

    & > p {
      font-size: 12px;
      color: $danger;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  // radio group
  &__formGroupRadio {
    margin-bottom: 30px;

    .radioList {
      display: flex;

      & > div {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    & > p {
      font-size: 12px;
      color: $danger;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  // checkbox group
  &__formGroupCheckbox {
    min-height: 40px;

    &.isError {
      & > label {
        text-decoration: underline;
        text-decoration-color: $danger;
      }
    }

    &.isSuccess {
      & > label {
        color: $success;
      }
      & > input {
        border-color: $success;
      }
    }

    & > p {
      font-size: 12px;
      color: $danger;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 18px;
      @include tablet {
        padding-left: 0;
      }
    }
  }
}
