.Input {
  min-height: 100px;
  margin-bottom: 15px;

  // error validation
  &.isError {
    label {
      color: $danger;
    }

    input,
    textarea {
      border: 2px solid $danger;
      &:hover,
      &:focus {
        border: 2px solid $danger;
      }
      &:focus {
        box-shadow: 0 0 5px 0 $text-color;
      }
    }
  }

  // success validation
  &.isSuccess {
    label {
      color: $success;
    }

    input,
    textarea {
      border: 2px solid $success;
      &:hover,
      &:focus {
        border: 2px solid $success;
      }
      &:focus {
        box-shadow: 0 0 5px 0 $text-color;
      }
    }
  }

  &.isDisabled {
    input,
    textarea {
      cursor: default;
      pointer-events: none;
      background-color: rgba(0, 0, 0, 0.05);
      border-color: $text-color-secondary;
    }

    label {
      color: $text-color-secondary;
    }
  }

  &__label {
    display: inline-flex;
    font-size: 18px;
    margin-left: 25px;
    margin-bottom: 5px;
    font-weight: 600;
  }

  &__input {
    outline: none;
    box-shadow: none;
    background: white;
    width: 100%;
    padding: 12px 24px;
    height: 52px;
    border-radius: 8px;
    border: 2px solid $text-color-secondary;
    font-weight: 400;
    color: $text-color;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    transition: all $default-duration;
    &::placeholder {
      color: $text-color-secondary;
      opacity: 1;
    }
    &:hover {
      border: 2px solid $primary;
    }
    &:focus {
      border: 2px solid $primary;
      box-shadow: 0 0 5px 0 $text-color;
    }
    // &:invalid {
    //   border: 2px solid $danger;
    //   color: $danger;
    // }
  }

  &__textarea {
    resize: none;
    min-height: 148px;
  }

  &__error {
    color: $danger;
    font-size: 14px;
    line-height: 22px;
    padding-left: 15px;
    &::before {
      color: $danger;
      content: '* ';
    }
    // font-style: normal;
    // font-weight: normal;
    // &:empty {
    //   display: none;
    // }
  }

  &__password {
    position: relative;
  }

  &__passEye {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
