.Checkbox {
  min-height: 55px;
  margin-bottom: 15px;

  // error validation
  &.isError {
    label::before {
      border-color: $danger;
    }
  }

  // success validation
  &.isSuccess {
    label::before {
      border-color: $success;
    }

    input:checked + label::before {
      border-color: $success;
      background-image: url('/icons/checked-success.svg');
    }
  }

  &.isDisabled {
    pointer-events: none;
    cursor: default;
    label {
      color: rgba(0, 0, 0, 0.3);
      &::before {
        border-color: $text-color-secondary;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  &__wrapper {
    display: inline-flex;
  }

  input {
    // hide native checkbox
    position: absolute;
    opacity: 0;
    width: 1px; // for work fill data plugin
    height: 0;

    // input checked
    &:checked + label::before {
      border-color: $primary;
      background-image: url('/icons/checked.svg');
    }

    // input focus
    &:focus + label::before {
      border-color: $primary;
    }
  }

  label {
    display: inline-flex;
    align-items: center;
    min-height: 30px;
    position: relative;
    padding-left: 40px;
    color: $text-color;
    @include mobile {
      padding-left: 30px;
    }
    &:hover {
      cursor: pointer;
      &::before {
        border-color: $text-color;
      }
    }

    &::selection {
      background-color: transparent;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 30px;
      height: 30px;
      transition: all $default-duration;
      border: 2px solid $text-color-secondary;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px auto;
      @include mobile {
        width: 20px;
        height: 20px;
        background-size: 14px auto;
      }
    }
  }

  // validation error message
  &__error {
    color: $danger;
    font-size: 14px;
    line-height: 22px;
    margin-top: 3px;
    margin-bottom: 0;
    // padding-left: 15px;
    // &:empty {
    //   display: none;
    // }
    &::before {
      color: $danger;
      content: '* ';
    }
  }
}
