.FormReact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid;
  padding: 20px;
  border-radius: 20px;

  & > h3 {
    margin-bottom: 30px;
  }

  &__left {
  }

  &__right {
  }

  &__range {
    max-width: 450px;
  }

  &__select {
    max-width: 450px;
  }

  &__buttons {
    margin-top: 30px;
    & > button {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
