.FormReact {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid;
  padding: 30px 50px;
  border-radius: 20px;
  @include mobile {
    padding: 20px;
    flex-direction: column;
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.75);
  }

  & > h3 {
    margin-bottom: 30px;
  }

  &__left {
    flex-basis: 45%;
    @include mobile {
      flex-basis: auto;
      margin-bottom: 15px;
    }
  }

  &__right {
    flex-basis: 45%;
    @include mobile {
      flex-basis: auto;
      margin-bottom: 15px;
    }
  }

  &__buttons {
    margin-top: 100px;
    & > button {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
