.FormReact {
  & > h3 {
    margin-bottom: 30px;
  }

  &__range {
    min-height: 50px;
    max-width: 450px;
  }

  &__buttons {
    margin-top: 30px;
    & > button {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
