.Header {
  min-height: 40px;
  flex-shrink: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $primary;
  color: white;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    b {
      display: inline-flex;
      margin-right: 15px;
      font-weight: 700;
      font-size: 20px;
    }
  }

  &__github {
    display: inline-flex;
    margin-left: 25px;
    width: 25px;
    height: 25px;
    & > svg path {
      fill: white;
      transition-property: fill;
      transition-duration: $default-duration;
    }
    &:hover {
      & > svg path {
        fill: $success;
      }
    }
  }
}
